@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color : #000;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}
