@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
  background-color : #000;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}
